---
// Design reference: https://sarthikg.com/
import Navbar from "../components/Navbar.astro";

// interface Props {
//     title: string;
// }

// const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Seongtaek Lim</title>
        {
            import.meta.env.PROD && (
                <Fragment>
                    {/* Google tag (gtag.js) */}
                    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-M2MYML58X3"></script>
                    <script is:inline>
                       window.dataLayer = window.dataLayer || [];
                       function gtag(){dataLayer.push(arguments);}
                       gtag('js', new Date());
                       gtag('config', 'G-M2MYML58X3');
                    </script>
                </Fragment>
            )
        }
    </head>
    <body>
        <Navbar />
        <div class="container">
            <slot />
        </div>
    </body>
</html>

<style is:global>
    /* Fonts */
    /* https://cdnfonts.com */
    @import url("https://fonts.cdnfonts.com/css/sofia-pro");

    /* Icons */
    /* https://icon-sets.iconify.design/quill/ */
    /* e.g., <Icon name="filename" /> */

    /* Page Transition */
    /* @view-transition {
        navigation: auto;
    }
    @keyframes blur-out {
        from {
            filter: blur(0);
        }
        to {
            filter: blur(10px);
        }
    } */
    @keyframes blur-in {
        from {
            filter: blur(10px);
        }
        to {
            filter: blur(0);
        }
    }
    /* ::view-transition-old(root) {
        animation: 0.2s ease-in both blur-out;
    } */
    ::view-transition-new(root) {
        animation: 0.3s ease-in both blur-in;
    }

    /* Global styles */
    :root {
        --accent: 117, 127, 154;
        --accent-light: 215, 221, 232;
        --accent-dark: 80, 85, 99;
        --accent-gradient: linear-gradient(
            20deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)),
            white 40%
        );
        --background--dark: #1b1c1d;
        transition: opacity 3s ease-in-out;
    }
    body {
        font-family: "Sofia Pro", Tahoma, Arial, sans-serif;
        background: var(--background--dark);
        color: #fffff0;
        margin: 0;
        width: calc(100vw - 15px);
        height: 100vh;
        font-weight: 200;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 200;
        letter-spacing: 0.2em;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    div {
        font-weight: 200;
    }
    p {
        font-weight: 200;
        letter-spacing: 0.1em;
    }
    .container {
        /* width: 100%; */
        height: calc(100vh - 6rem);
    }
    .full-height {
        height: 100%;
    }
    .flex-col-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .flex-row-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .page {
        margin-top: 3vh;
        padding-bottom: 7vh;
    }
    .page-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex: 1;
    }
    .page .page-content .left-col {
        margin-bottom: 6rem;
        padding-right: 2rem;
    }
    .page .page-content .right-col {
        padding-left: 2rem;
        margin-bottom: 6rem;
    }
    .list-item {
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
    }
    .list-card {
        width: 34rem;
        margin-left: 20px;
        padding: 10px;
        line-height: 1.3rem;
        display: flex;
        flex-direction: column;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300%;
        background-position: 0%;
    }
    .title-case {
        text-transform: capitalize;
    }
    @media (max-width: 1080px) {
        body {
            width: 100vw;
        }
        .page .page-content .left-col {
            padding-right: initial;
        }
        .page .page-content .right-col {
            padding-left: initial;
        }
    }
</style>
