---
import { Icon } from "astro-icon/components";
const { name, src } = Astro.props;
---

<div class="navbar">
    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />
    <label for="menu-toggle" class="navbar-toggle">
        <Icon name="quill--hamburger" />
    </label>

    <div class="navbar-links">
        <a href="/">Home</a>
        <a href="/career">Career</a>
        <a href="/publications">Publications</a>
        <!-- <a href="/projects">Projects</a> -->
        <a href="/photography">Photography</a>
        <!-- <a href="/thoughts">Thoughts</a> -->
        <!-- <a href="/about">About</a> -->
        <a href="/assets/cv/cv.pdf" target="_blank" rel="noopener noreferrer">CV</a>
    </div>
</div>

<style>
    .navbar {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #111104;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        padding-left: 6rem;
        padding-right: 6rem;
        position: sticky;
        top: 0;
        z-index: 100;
        letter-spacing: 0.1em;
    }

    .navbar-links {
        justify-content: space-between;
    }

    .navbar-links a {
        color: white;
        text-decoration: none;
        padding: 0.8rem 1.5rem;
    }

    .navbar-links a:hover {
        background-color: var(--background--dark);
        border-radius: 4px;
    }

    .menu-toggle-checkbox {
        display: none;
    }

    .navbar-toggle {
        display: none;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        padding: 0.4rem 1.5rem;
    }

    @media (max-width: 1024px) {
        .navbar {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 0.8rem;
            flex-direction: column;
            justify-content: initial;
        }

        .navbar-toggle {
            display: block;
        }

        .navbar-links {
            display: none;
            width: 100vw;
            flex-direction: column;
            align-items: center;
            background-color: #111104;
        }

        .navbar-links a {
            font-size:1.3rem;
            padding: 1rem;
        }

        .menu-toggle-checkbox:checked + .navbar-toggle + .navbar-links {
            display: flex;
        }
    }

    @media (max-width: 480px) {
        .navbar-links a {
            font-size: 0.9rem;
        }
    }
</style>
